
.container{
    box-sizing: border-box;
    background-color:rgba(13, 124, 13, 0.788);
}
.form_element{
    width: 100%;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.hide{
    display: none;
}
.card-group img{
    height:300px;
}
.card{
    margin:10px;
    background-color: #CEA659;
}
#footer{
    position: relative;
    margin-top: 50px ;
}
.contact_container{
    top:-40px;
}
#contactFormList{
    list-style-type: none;
}
#contactFormList label{
    font-size:25px;
}
#contactImg{
    padding: 0px;
    height: 20%;
}
#UpperNav{
    position: sticky;
    top: 10px;
    width: 100%;
    z-index: 2;
    background-color:rgb(54, 53, 53) ;
}
#phoneNumContainer{
    color:lightgrey;
    background-color: rgb(54, 53, 53);
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin:0px;
    padding:0px;
}
.contactlist{
    list-style-type: none;
}
.contactlist li{
    font-size: 28px;
}
#theStory{
    text-overflow:hidden;
    height: 100%;
}
.fa{
    font-size: 3rem;
    margin-right: 10px;
}